/* @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&display=swap');

*/


@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed:wght@1;100;200;300;400;500;600;700;800;900;1000&display=swap');


::-webkit-scrollbar {
    width: 0px;
    /* height: 2em */
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img{
  width: 100%;
}
body{
  font-family: 'Sofia Sans Semi Condensed', sans-serif;
}
a{
  text-decoration: none
}
@tailwind base;
@tailwind components;

@tailwind utilities;

.child_insta{
 transform: translate(-50%, -50%);
 z-index: 2;
 left: 50%;
 top: 50%;
 width: 0;
  height: 0;
  opacity: 0;
  transition: ease-in-out all .3s;
}
.image_insta{
  transition: all ease-in-out 1.3s;

}

.parent_insta:hover  .child_insta{
  
  height: 100%;
  width: 100%;
  opacity: 1;

}
.parent_insta:hover  .image_insta{
  
  transform: scale(1.2);

}




/* animate css */


.hero_section .slide_text{
    animation: slideInLeft;
  animation-duration: 1s; 
  /* display: none; */
}
.hero_section .slide_image{
    animation: slideInRight;
  animation-duration: 1s; 
  /* display: none; */
} 

:root {
  /* --animate-delay: 1s; */
}




.product_page, .proces_order{
  background-image: url("/images/probg.jpg");
}
.product_card{
  overflow-x: hidden;
}
.product_card  .product_action{
  left: -40px;
  transition: all ease-in-out .4s;
}
.product_card:hover .product_action{
  left: 10px;

}
.cart_bg{
  background-image: url("/images/cartbg.jpg");
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
}


.nav-item .dropdown-toggle{
  position: relative;
}
.nav-item .dropdown-toggle::after{
content: '';
    position: absolute;
    left: 38%;
    transform: translateX(-38%);
    top: 100%;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #e8e8e8;
    clear: both;
}